.head1 {
    text-align: center;
    color: crimson;
    font-size: 40px;
    font-weight: bold;
    margin: 50px auto;
}

.hello{
    width: 70%;
    margin: 100px 50px;

}

.hello_1st{
    font-size: 20px;
    color: #666666;
    text-align: right;

}
